# PostgreSQL Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/fastapi_db

# Security
SECRET_KEY=your-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=60

# API Keys
UPBIT_ACCESS_KEY=
UPBIT_SECRET_KEY=
UPBIT_API_BASE_URL=https://api.upbit.com

# Environment
ENVIRONMENT=development
DEBUG=True

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
